<!DOCTYPE html>
<html>
<head>
    <title>MadLib Game</title>
</head>
<body>
    <form action="{{url_for('show_madlib')}}">
        <!-- refer to url for the function show_madlib instead of calling the path -->
        Give us an adjective:<input type="text" name="adjective_1"></br></br>
        Nationality:<input type="text" name="nationality"></br></br>
        Character name:<input type="text" name="person"></br></br>
        Give us a noun:<input type="text" name="noun_1"></br></br>
        Give us an adjective:<input type="text" name="adjective_2"></br></br> 
        Give us a noun:<input type="text" name="noun_2"></br></br>
        Give us an adjective:<input type="text" name="adjective_3"></br></br>
        Give us an adjective:<input type="text" name="adjective_4"></br></br>
        Give us a plural noun:<input type="text" name="plural_noun"></br></br>
        Give us a noun:<input type="text" name="noun_3"></br></br>
        Give us a number:<input type="text" name="number_1"></br></br>
        Plural of shape:<input type="text" name="shapes"></br></br>
        Give us a food:<input type="text" name="food_1"></br></br>
        Give us a food:<input type="text" name="food_2"></br></br>
        Give us a number:<input type="text" name="number_2"></br></br>
        <input type="submit">
    </form>
</body>
</html>