<!DOCTYPE html>
<html>
    <head>
        <title>MadLib Game</title>
    </head>
    <body>
        <p>
            <!--changed to dictionary in server, and now we are referecing the dictionary.key 
            instead of just calling the variable name -->
            There once was a {{ sentence_parts['color'] }} {{ sentence_parts.noun }} sitting in the Hackbright Lab.
            When {{ sentence_parts.person }} went to pick it up, it burst into flames in a totally
            {{ sentence_parts.adjective }} way.
        </p>
    </body>
</html>